@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*START HTML BUILT IN*/
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.15;
  /*1*/
  -ms-text-size-adjust: 100%;
  /*2*/
  -webkit-text-size-adjust: 100%;
  /* 2 */
}


/*reset*/
/* taken from https://github.com/elad2412/the-new-css-reset*/
/*** The new CSS Reset - version 1.4.5 (last updated 13.1.2022) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */

a:link,
a:visited {
  opacity: 1;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
  color: #4781de;
  cursor: pointer;

}

a:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

ul,
ol {
  padding-inline-start: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* Remove list styles (bullets/numbers) */
ol.nav-list,
ul.nav-list,
menu {
  list-style: none;
  padding-inline-start: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
}




/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/*reset*/
body {
  margin: 0;
  word-break: break-word;
  padding: 0;
  font-size: 15px;
  line-height: 2.0em;
  font-family: 'Noto Sans JP', sans-serif;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* variables */
:root {
  --drawer-width: 300px;
}


/*--typography--*/

body h1,
h2 {
  font-weight: bold;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

body h1 {
  margin: 2rem 0em;
  font-size: 2.5rem;
  font-weight: bold;
  color: #cdcdcd;
  text-rendering: optimizeLegibility;
}

body h2 {
  color: #f1f4f7;
  font-size: 1.5rem;
  line-height: 1.25;
  margin: 1.5rem 0rem;
  text-rendering: optimizeLegibility;
}

body h3 {
  color: #cdcdcd;
  font-size: 1.25rem;
  margin: 12px 0px;
}

p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 16px;
}

b,
strong {
  font-weight: bolder;
}

blockquote {
  font-style: italic;
  padding: 12px;
  background: rgba(220, 220, 220, 0.3);
  margin: 8px 0px;
}

@media(min-width: 58em) {
  html {
    font-size: 20px;
  }
}


@media(min-width: 48em) {
  html {
    font-size: 16px;
  }
}

table {
  margin: 24px 0px;
  border-collapse: collapse;
  border-color: #cccccc;
}

table td {
  padding: 3px 20px;
  border: 1px solid #ccc;
}

table thead th {
  padding: 6px 13px;
  font-weight: bold;
  border: 1px solid #ccc;
}


a:link,
a:visited {
  opacity: 1;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 1px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  border: none;
}


:root {
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 960px;
}

/*END HTML BUILT IN*/

/*BEGIN SHARED*/
body {
  background-color: #232323;
  color: #ededea;
}

body p.title-caption {
  color: #a9b0b7;
}

#section-site-header {
  padding: 1em;
}

.structural-section {
  padding: 2em 1em;
}

#cols-footer {
  display: flex;
}
@media(max-width: 768px)  {
  div#cols-footer {
    display: block;
  }
  div#cols-footer-misc-items {
    display: block;
  }
}

#col-footer-brand {
  flex: 1 1 auto;
  padding: 2em;
  min-height: 240px;
}

#col-footer-misc {
  flex: 3 1 auto;
}

#cols-footer-misc-items {
  display: flex;
  padding: 1em;
}

#col-footer-misc-recent-posts {
  flex: 1 1 auto;
}

#col-footer-misc-categories {
  flex: 1 1 auto;
}

#col-footer-misc-subscribe {
  flex: 1 1 auto;
}

/*END SHARED*/

/*BEGIN ARTICLE INDEX*/

#section-article-index {
  min-height: 400px;
}

#cols-article-index {
  display: flex;
}

#col-article-index-aux-left {
  flex: 1 4 auto;
}

#col-article-index {
  flex: 2 1 auto;
}
div#article-entries > ul.nav-list {
  padding-left: 0;
}
div#article-entries > ul > li > a {
  padding: 1em 0em;
  display: block;
} 

#col-article-index-aux-right {
  flex: 1 4 auto;
}


/*END ARTICLE INDEX*/
#cols-article-index {
  display: flex;
}

div#col-article-index-aux-left {
  flex: 1 4 auto;
}

div#col-article-index {
  flex: 2 1 auto;
}

div#col-article-index-aux-right {
  flex: 1 4 auto;
}

#col-article-index>p#caption-article-index {
  color: #474c54;
}

#section-footer {
  background-color: #2f2f31;
}

#section-bottom {
  background-color: #2a2a2a;
  text-align: center;
}

p#section-bottom-copyright {
  color: #daded6;
  font-size: 13px;
}

p#section-bottom-generator {
  color: #daded6;
  font-size: 13px;
}

#section-bottom>h2 {
  color: #dcdcdc;
  font-size: 13px;
}



/*BEGIN ARTICLE*/
#cols-main {
  display: flex;
}

div#col-main-content-aux-left {
  display: block;
  flex: 1 1 auto;
  padding: 1em;
}

div#col-main-content {
  display: block;
  flex: 2 2 auto;
  max-width: 80%;
}
article#main-content-article {
  padding: 1em;
}
#main-content-article-props-top {
  padding: 1em 1em;
}

div#col-main-content-aux-right {
  display: block;
  flex: 2 1 auto;
  padding-right: 2em;
}

div#main-content-aux-right-toc {
  padding: 1em;
  background-color: #2c2c2e;
}

div#article-aux {
  padding: 1em;
}

div#cols-article-aux-adjucents {
  justify-content: space-between;
  display: flex;
}

/*END ARTICLE*/


/*code*/
code {
  font-family: monospace, sans-serif;
  background-color: rgba(27, 31, 35, .05);
  vertical-align: middle;
  padding: 0.25em 0.5em;
  border-radius: 3px;
}

pre {
  padding: 1rem;
  border-radius: 6px;

}

pre code {
  border: none;
  background: none;
  color: #b69495;
}

code .keyword {
  color: rgb(255 152 113);
}

code .escape-sequence {}

code .type-name {
  color: #e6dc6e;
}

code .tag-name {
  color: #b4b4b1;
}

code .attribute-name {}

code .declaration-name {}

code .identifier {
  color: #a3c0c9;

}

code .number-literal {
  color: rgb(107 196 151);
}

code .string-literal {
  color: #db5d41;

}

code .literal-value {}

code .boolean-literal {
  color: #ff57c1;
}

code .char-literal {}

code .markup-link-text {}

code .markup-link-target {}

code .markup-emphasized {}

code .substitution {}

code .tag-punctuation {
  color: #d9b52f;
}

code .comment {
  color: rgb(169 162 151);
}


pre {
  background: #212533;
  overflow-x: auto;
  white-space: pre;
  margin: 16px 0px;
  display: block;
  padding: 1rem;
  line-height: 1.7rem;
  font-family: monospace, sans-serif;
}

pre code {
  background: none;
}

/* md extensions*/
.callout {
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0px;
  background: rgba(220, 220, 220, 0.3);
}

.callout.info {
  border-left: 8px solid #5fc2f3;
  background: rgb(164 197 220 / 30%);
}

.callout.warning {
  border-left: 8px solid #f2c33e;
  background: rgb(220 199 164 / 30%);
}

.callout.error {
  border-left: 8px solid #f23e3e;
  background: rgb(251 234 234 / 30%);
}